/*
 * Site Deisgn by Don Hansen at Area71.com
 *
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea {
	font-family: sans-serif;
	color: #333;
}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: cyan!
 */

::-moz-selection { background: #13efe2; color: #333; text-shadow: none; }
::selection { background: #13efe2; color: #333; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: none; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
body {
	background-image: url(../img/background.png);
	background-repeat: repeat;
}

#wrapper {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: auto;
}
#header {
	overflow: hidden;
	width: 100%;
	margin-top: 10px;
}
.logo {
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	width: 280px;
	height: 120px;
	margin-top:15px;
}
.slogan {
	width: 380px;
	float: left;
	color: #FFF;
	text-align: center;
	padding-top: 20px;
	font: 28px/32px 'YanoneKaffeesatzRegular', Arial, sans-serif;
	margin: 0;
}
.phone {
	color: #FFF;
	float: left;
	width: 290px;
	text-align: right;
	padding: 20px 0 0 0;
	font: 20px/32px 'YanoneKaffeesatzRegular', Arial, sans-serif;
	list-style-type: none;
	margin:0px;
}
.contact-page{
	list-style-type:none;
}
#navigation {
	background-image: url(../img/nav_bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0054a6;
	text-align: center;
	margin-top: 10px;
	overflow: hidden;
	width: 100%;
	height:74px;
}
#navigation ul {
	/*width: 760px; */ /* This width for 4 navigation links */
	width: 600px;  /* This width for 3 navigation links */
	margin: 0 auto;
	list-style: none;
}
#navigation ul li {
	float: left;
	position: relative;
	width: 180px;
	font: 32px/74px 'YanoneKaffeesatzBold', Arial, sans-serif;

}
#navigation a {
	display: block;
	width: 180px;
	color: #FFF;
	text-decoration: none;
} 
#home {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #0054a6;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #0054a6;
	background:url('../img/nav_hover_bg.png') 0 0;
	height: 74px;
	display: block;
}
#home a:link{}
#home a:hover{background: url('../img/nav_hover_bg.png') 0 -74px; height: 74px; display: block;}
#home a:active{background: url('../img/nav_hover_bg.png') 0 -148px; height: 74px; display: block;}

#sales {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #0054a6;
	background:url('../img/nav_hover_bg.png') 0 0;
	height: 74px;
	display: block;
}
#sales a:link{}
#sales a:hover{background: url('../img/nav_hover_bg.png') 0 -74px; height:74px; display: block;}
#sales a:active{background: url('../img/nav_hover_bg.png') 0 -148px; height: 74px; display: block;}

#products {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #0054a6;
	background:url('../img/nav_hover_bg.png') 0 0;
	height: 74px;
	display: block;
}
#products a:link{}
#products a:hover{background: url('../img/nav_hover_bg.png') 0 -74px; height:74px; display: block;}
#products a:active{background: url('../img/nav_hover_bg.png') 0 -148px; height: 74px; display: block;}

#contact {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #0054a6;
	background:url('../img/nav_hover_bg.png') 0 0;
	height: 74px;
	display: block;
}
.contact-form{
	    height: 250px;
	    width: 500px;
	    padding: 20px 40px; 
	    border-radius: 4px;
}
.name-email{
	float: left;
	width: 50%;
}
.name-email input[type="text"] {
	width: 100%;
	height:20px;
}
.contact-email{
	float: left;
}
.contact-email textarea {
	width: 100%;
	height: 100px;
}
.contact-email input[type="submit"]{
	margin-top:10px;
}
#contact a:link{}
#contact a:hover{background: url('../img/nav_hover_bg.png') 0 -74px; height: 74px; display: block;}
#contact a:active{background: url('../img/nav_hover_bg.png') 0 -148px; height: 74px; display: block;}

/* To highlight for current page */
body#homex a#homenav,
body#salesx a#salesnav,
body#productsx a#productsnav,
body#contactx a#contactnav {
background: url('../img/nav_hover_bg.png') 0 -74px;
}


#scroller {
	overflow: hidden;
	width: 100%;
}
#scroller img { vertical-align: bottom; /* default value is 'baseline' */ } 
#findsalesrep {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0054a6;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0054a6;
	background-image: url(../img/findsalesrep_bg.png);
	background-repeat: repeat;
	overflow: hidden;
	width: 940px;
	padding-left: 20px;
}
#findsalesrep h2{
	font: 32px/0px 'YanoneKaffeesatzRegular', Arial, sans-serif;
	color: #FFF;	
}
#findsalesrep p{
	font-family: 'OpenSansRegular', Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	color: #FFF;
}
a.findarepbtn {
	background:url('../img/findsalesrep_sprite.png') 0 0;
	margin-right: 100px;
	margin-top: 20px;
	width: 170px;
	height: 42px;
	display: block;
	float:right;
}
a.findarepbtn:hover{background: url('../img/findsalesrep_sprite.png') 0 84px; }
a.findarepbtn:active{background: url('../img/findsalesrep_sprite.png') 0 42px; }

#hp_content {
	background-color: #FFF;
	clear: both;
	color: #333;
	overflow: hidden;
	width: 100%;
}
#hp_content h2{
	font: 32px/0px 'YanoneKaffeesatzRegular', Arial, sans-serif;
	color: #0e76bc;	
}
#hp_content h3{
	font-family: 'OpenSansBold', Arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.6em;
	color: #0e76bc;	
}
#hp_content p{
	font-family: 'OpenSansRegular', Arial, sans-serif;
	font-size: 1.1em;
	line-height: 1.6em;
	color: #333;
}
#hp_content a:link    {color:#0e76bc; text-decoration: none;}
#hp_content a:visited {color:#094A77;}
#hp_content a:hover   {color:#FF9900;}
#hp_content a:active  {color:#CC0000;}
#hp_content ul{
	font-family: 'OpenSansRegular', Arial, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #333;
}
#hp_content li{
}
.hp_content_full {
	float: left;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hp_content_left {
	float: left;
	width: 460px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.hp_content_right {
	float: right;
	width: 400px;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCC;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer {
	background-color: #318ECA;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 16px;
	padding-left: 20px;
	color: #FFF;
	font-size: .9em;
	overflow: hidden;
	margin-bottom: 20px;
}
#footer a:link    {color:#FFF; text-decoration: none;}
#footer a:visited {color:#FFF;}
#footer a:hover   {color:#FFF;}
#footer a:active  {color:#FFF;}
.footer_left {
	float: left;
	width: 300px;
}

.footer_right {
	float: right;
	width: 300px;
	text-align: right;
}


#salesreplist ul {
	margin-top:0px;
	list-style-type:none;
}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }




/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
